<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>message board.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AD98CEA1D4F982000E81DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD98D101D4F983600E81DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB0D5AD918EB48F600F1F1B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB0D5AFA18EB48F600F1F1B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
